@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

header nav .divOne{
    background-color: rgb(0, 0, 65);
    display: flex;
    padding: 2px;
    color: white;
    align-items: center;
    justify-content: space-between;
}

header .divOne h1{
    margin-left: 4rem;
    text-shadow: 4px 2px 3px rgb(121, 121, 121);
}

.divOne h1 a{
    text-decoration: none;
    color: white;
}

header nav ul{
    display: flex;
    gap: 3rem;
    list-style: none;
    margin: 0 5rem;
}

header nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 19px;
}

header nav ul li a:hover{
    color: rgb(155, 155, 155);
    text-shadow: 4px 3px 3px rgb(92, 92, 92);
}

main{
    font-size: 18px;
}

.textBox{
    padding: 15px;
    border-radius: 6px;
    min-width: 20%;
    box-shadow: 6px 3px 2px rgba(0, 0, 0, 0.5);
}

fieldset{
    min-width: 30rem;
    min-height: 15rem;
    margin: 30px 20px;
    border-radius: 10px;
    border: 5px solid rgb(0, 0, 65);
    line-height: 30px;
}

select{
    padding: 15px;
    border-radius: 6px;
    min-width: 50%;
    border: 2px solid navy;
}


.field-2{
    padding: 10px;
}


.flexDiv{
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.submit{
    padding: 15px;
    font-size: 17px;
    background-color: rgb(0, 0, 65);
    color: white;
    border-radius: 6px;
}

.submit:hover{
    background-color: rgb(0, 0, 119);
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5)
}

#loadingMessage{
    margin: 20px auto;
}

footer .main{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 65);
    padding: 20px;
    color: white;
    font-size: 16px;
}

.center ul{
    margin-top: 3em;
}

.center ul li{
    list-style: none;
    display: inline;
    margin: 0 20px;
}

.center ul li a{
    color: white;
    text-decoration: none;
}

.center ul li a:hover{
    text-decoration: underline;
}

footer .right input{
    padding: 10px;
    border-radius: 5px;
}

footer .right .btn:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
}

footer .secondaryFoot{
    background-color: rgb(0, 0, 89);
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 16px;
}

footer .secondaryFoot p{
    margin: 10px auto;
}