body {
	background-color:ButtonFace;
}
.txtBox {
	font-family: Verdana, Arial, Helvetica;
	font-size: 9pt;
	color: black;
	height: 19px;
	background-color: white;
	border: 1px solid #07A2FE;
}
.divClass {
	font-family: Verdana, Arial, Helvetica;
	font-size: 9pt;
	padding: 3px;
	color: black;
	background-color: white;
	width: 500px;
	border: 1px solid #07A2FE;
	visibility: hidden;
}
.btnButton {
	font-family: Verdana, Arial, Helvetica;
	font-size: 8pt;
	color: black;
	height: 24px;
	cursor: pointer;
}